<!--Kya yaar mood kharaab -->

<!DOCTYPE html>
<html>
<title>Chicken</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chicken.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="shortcut icon" href="static/logo.ico">

<head>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection">
</head>
<body>
	<br><br><br><br><br><br><br>

	<div class="container valign center-align footer">
		<h4 class = "grey-text">Toh ghar jao phir. Bye.</b></h4>
	</div>

</body>
</html>
